@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h2>Animal Details: </h2>
<hr />
<h4>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h4>
<h4>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>
<h4>@Html.DisplayNameFor(model => model.Gender): @Html.DisplayFor(model => model.Gender)</h4>
<h4>@Html.DisplayNameFor(model => model.Breed): @Html.DisplayFor(model => model.Breed)</h4>
<h4>@Html.DisplayNameFor(model => model.Date): @Html.DisplayFor(model => model.Date)</h4>

<p>@Html.ActionLink("Back to Animals", "Index")</p>